<%doc>
	Author: John Turner
	Version: 2.0
	Updated: 2/28/15

	This is the page through which administrators can edit users in the system. 
</%doc>

<%inherit file="/base_admin/templates/Edit.htm" />

<%block name="tab_title">
  Edit User
</%block>

<%block name="content">

	<div class="page_title">
		
		<%block name="page_title">

			<h1>Edit User</h1>

	 	</%block>

	</div>

	## ROW ##
	<div class="row">
		
	 ## LEFT COLUMN ##
	 <div class="col-md-3">
	 	<img class="user_image" src="${ STATIC_URL }homepage/media/add-user.png">

	 	## UPLOAD IMAGE BUTTON ##
		<paper-button raised class="edit_button">Upload Image</paper-button>
		## END UPLOAD IMAGE BUTTON ##

	 </div>
	 ## END LEFT COLUMN ##

	 ## RIGHT COLUMN ##
	 <div class="col-md-9">

	 	## Hidden input with the user id in it ##
	 	<input class="hidden" id="user_id" value="${ user.id }"/>
	 	
	 	## FORM ##
		${ form }
		## END FORM ##
			
	 </div>
	 ## END RIGHT COLUMN ##

	</div>
	## END ROW ##

	## SPACER DIVS ##
	<div class="spacer"></div>
	<div class="spacer"></div>
	<div class="spacer"></div>
	## END SPACER DIVS ##

</%block>