<%doc>
	Author: John Turner
	Version: 1.0
	Updated: 3/7/15

	This is the page where a user enters the payment info for an order.
</%doc>

<%inherit file="/base_admin/templates/Edit.htm" />

<%block name="tab_title">
  	Payment Info
</%block>

<%block name="page_title">

	<h1>Payment Info</h1>

</%block>

<%block name="content">

    ${ form }

    <div class="spacer"></div>

    <p>
        NOTE: If you need to review your cart, you can do so by clicking your name in the top right corner of the screen, then clicking "My Cart".
    </p>

    <div class="spacer"></div>

</%block>