<%doc>
	Author: John Turner
	Version: 1.0
	Updated: 2/5/15

	This is the page through which administrators and managers can view all items. 
</%doc>

<%inherit file="/base_admin/templates/base.htm" />

<%block name="tab_title">
  View Items
</%block>

<%block name="paper_elements_import">
	<link rel="import" href="${ STATIC_URL }base_app/styles/bower_components/paper-input/paper-input.html">
	<link rel="import" href="${ STATIC_URL }base_app/styles/bower_components/paper-button/paper-button.html">
	<link rel="import" href="${ STATIC_URL }base_app/styles/bower_components/paper-checkbox/paper-checkbox.html">
</%block>

<%block name="extra_links">
	<link rel="stylesheet" type="text/css" href="${ STATIC_URL }base_admin/styles/View.css">
</%block>

<%block name="content">
	
	## PAGE TITLE ##
	<%block name="page_title">
		<div class="row">
			
			## PAGE TITLE ##
			<div class="col-md-8">
				<h1>View Items</h1>
			</div>
			## END PAGE TITLE ##

			## CREATE BUTTON ##
			<div class="col-md-4">
				
			</div>
			## END CREATE BUTTON ##

		</div>
	</%block>
	## END PAGE TITLE ##

	## ROW ##
	<div class="row">
		
		## LEFT COLUMN ##
		<div class="col-md-6">

			## BATCH OPTIONS ##
			<h3>Batch Options</h3>
			
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropwdown" aria-expanded="true">
					Batch Options
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">Delete</li>
				</ul>
			</div>

			<paper-button class="success_button run_batch" raised>Submit</paper-button>

			## END BATCH OPTIONS ##

		</div>
		## END LEFT COLUMN ##

		## RIGHT COLUMN ##
		<div class="col-md-6">
			
			## FILTER OPTIONS ##
			<h3>Filter Options</h3>
			
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropwdown" aria-expanded="true">
					Filter Options
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">Delete</li>
				</ul>
			</div>

			<paper-input-decorator class="short" floatingLabel label="Criteria">
				<input is="core-input"></input>
			</paper-input-decorator>

			<paper-button class="success_button apply_filter" raised>Submit</paper-button>
			## END FILTER OPTIONS ##

		</div>
		## END RIGHT COLUMN ##

	</div>
	## END ROW ##

	## SEPARATOR ##
	<hr>
	## END SEPARATOR ##

	## TABLE TITLE ##
	<h3 class="table_title">Non Wardrobe Items</h3>
	## END TABLE TITLE ##

	## CREATE NON-WARDROBE ITEM BUTTON ##
	<div class="create_button_div">
		<a class="button" href="/inventory/items.create/1">
			<paper-button class="create_button" raised>Add New Non-Wardrobe Item</paper-button>
		</a>
	</div>
	## END CREATE NON-WARDROBE ITEM BUTTON ##

	## TABLE OF NON WARDROBE ITEMS ##
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>
					<paper-button raised class="">Select All</paper-button>
				</th>
				<th>
					Name
				</th>
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody>
			%for item in n_w_items:
				<tr>
					<td>
						<paper-checkbox></paper-checkbox>
					</td>
					<td>
						${ item.specs.name }
					</td>
					<td>
						<a class="button" href="/inventory/items.edit_non/${ item.id }/">
							<paper-button raised class="edit_button">Edit</paper-button>
						</a>
						<a class="button" href="/inventory/items.delete_nw${ item.id }/1">
							<paper-button raised class="delete_button">Delete</paper-button>
						</a>
					</td>
				</tr>
			%endfor
		</tbody>
	</table>	
	## END TABLE OF NON WARDROBE ITEMS ##

	## SEPARATOR ##
	<hr>
	## END SEPARATOR ##

	## TABLE TITLE ##
	<h3 class="table_title">Wardrobe Items</h3>
	## END TABLE TITLE ##

	## CREATE WARDROBE ITEM BUTTON ##
	<div class="create_button_div">
		<a class="button" href="/inventory/items.create/2">
			<paper-button class="create_button" raised>Add New Wardrobe Item</paper-button>
		</a>
	</div>
	## END CREATE WARDROBE ITEM BUTTON ##

	## TABLE OF NON WARDROBE ITEMS ##
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>
					<paper-button raised class="">Select All</paper-button>
				</th>
				<th>
					Name
				</th>
				<th>
					Gender
				</th>
				<th>
					Size
				</th>
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody>
			%for item in w_items:
				<tr>
					<td>
						<paper-checkbox></paper-checkbox>
					</td>
					<td>
						${ item.specs.name }
					</td>
					<td>
						${ item.gender }
					</td>
					<td>
						${ str(item.size) + ' ' + item.size_modifier }
					</td>
					<td>
						<a class="button" href="/inventory/items.edit_w/${ item.id }/">
							<paper-button raised class="edit_button">Edit</paper-button>
						</a>
						<a class="button" href="/inventory/items.delete_w/${ item.id }/2">
							<paper-button raised class="delete_button">Delete</paper-button>
						</a>
					</td>
				</tr>
			%endfor
		</tbody>
	</table>	
	## END TABLE OF NON WARDROBE ITEMS ##

	## SPACER DIVS ##
	<div class="spacer"></div>
	<div class="spacer"></div>
	<div class="spacer"></div>
	## END SPACER DIVS ##

</%block>