/**
 * TITLE: base.less
 * AUTHOR: Group 2-15
 * VERSION: 1.0
 * UPDATED ON: 1/23/15
 *
 * Main styles to be applied throughout the homepage app. 
 */
/**
 * TITLE: variables.less
 * AUTHOR: Group 2-15
 * VERSION: 1.0
 * UPDATED ON: 1/23/15
 *
 * This file contains the LESS variables to be imported into the base.less file in the homepage app. 
 */
.wrapper {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #949494;
}
h1,
h2,
h3,
h4 {
  font-family: 'Arvo', serif;
}
.row {
  padding: 1em;
}
.spacer {
  height: 1em;
}
li {
  list-style: none;
}
a:hover {
  text-decoration: none;
}
a.button {
  color: inherit;
}
.social_media i {
  margin-bottom: 0;
}
.social_media a {
  color: #ffffff;
}
.social_media a:hover {
  color: white;
}
.center {
  text-align: center;
}
paper-button.success_button {
  background: #59b35a;
}
paper-button.edit_button {
  background: #7ca1f0;
}
paper-button.delete_button {
  background: #e54343;
}
paper-button.create_button {
  background: #fabe51;
}
paper-button.form_button {
  padding: 0;
}
paper-button.form_button::shadow .button-content {
  padding: 0;
}
paper-button.form_button button {
  padding: .6em;
  background-color: transparent;
  border-color: transparent;
}
paper-button.form_button button::-moz-focus-inner {
  border: 0;
}
.field_error {
  color: red;
  margin-top: 2em;
}
.form_errors {
  color: red;
}
paper-input {
  width: 100%;
}
.custom_header {
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0;
  z-index: 1000;
  border: none;
}
.navbar {
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #f04e4e;
}
#main_title {
  color: #ffffff;
}
#main_title:hover {
  color: #f04e4e;
}
.full_width_image {
  width: 100%;
  margin-top: -4em;
  margin-bottom: 3em;
}
@media screen and (max-width: 600px) {
  .full_width_image {
    margin-top: 0;
  }
}
.full_width_image img {
  width: 100%;
}
.main_content {
  background-color: white;
}
.page_title {
  border-bottom: 1px solid #dddddd;
  margin: 0;
}
.page_title .row .col-md-4 {
  padding-right: 0;
}
.page_title .row .col-md-8 {
  padding-left: 0;
}
div.create_button paper-button {
  float: right;
  margin-right: 0;
}
.footer {
  background-color: #949494;
}
.footer li a {
  color: white;
}
.footer li a:hover {
  color: #ffffff;
}
.footer .center p {
  margin: 0;
  padding-bottom: 1em;
}
.footer .center .fa {
  margin-bottom: 0.5em;
}
