<%doc>
	Author: John Turner
	Version: 1.0
	Updated: 2/5/15

	Here managers and admins can edit venue info
</%doc>

<%inherit file="/base_admin/templates/base.htm" />

<%block name="tab_title">
  Edit Venue
</%block>

<%block name="paper_elements_import">
	<link rel="import" href="${ STATIC_URL }base_app/styles/bower_components/paper-input/paper-input.html">
	<link rel="import" href="${ STATIC_URL }base_app/styles/bower_components/paper-button/paper-button.html">
	<link rel="import" href="${ STATIC_URL }base_app/styles/bower_components/paper-radio-group/paper-radio-group.html">
	<link rel="import" href="${ STATIC_URL }base_app/styles/bower_components/paper-radio-button/paper-radio-button.html">
</%block>

## Extra page-specific styles or script links
<%block name="extra_links">
	<link rel="stylesheet" type="text/css" href="${ STATIC_URL }base_admin/styles/Edit.css">
</%block>

<%block name="content">

	<div class="page_title">
		<h1>Edit Venue</h1>
	</div>

	## ROW ##
	<div class="row">

	 ## MAIN COLUMN ##
	 <div class="col-md-12">
	 	
	 	## FORM ##
		${ form }
		## END FORM ##
			
	 </div>
	 ## END MAIN COLUMN ##

	</div>
	## END ROW ##

	## SPACER DIVS ##
	<div class="spacer"></div>
	<div class="spacer"></div>
	<div class="spacer"></div>
	## END SPACER DIVS ##

</%block>