<%doc>
	Author: John Turner
	Version: 1.0
	Updated: 2/4/15

	This is the page through which administrators can view all venues in the system. 
</%doc>

<%inherit file="/base_app/templates/base.htm" />

<%block name="tab_title">
  Venues
</%block>

<%block name="paper_elements_import">
	<link rel="import" href="${ STATIC_URL }base_app/styles/bower_components/paper-input/paper-input.html">
	<link rel="import" href="${ STATIC_URL }base_app/styles/bower_components/paper-button/paper-button.html">
	<link rel="import" href="${ STATIC_URL }base_app/styles/bower_components/paper-checkbox/paper-checkbox.html">
</%block>

<%block name="extra_links">
	<link rel="stylesheet" type="text/css" href="${ STATIC_URL }base_admin/styles/View.css">
</%block>

<%block name="content">
	
	## PAGE TITLE ##
	<%block name="page_title">
		<div class="row">
			
			## PAGE TITLE ##
			<div class="col-md-8">
				<h1>Venues</h1>
			</div>
			## END PAGE TITLE ##

			## CREATE BUTTON ##
			<div class="col-md-4">
				<div class="create_button">
					<a class="button" href="/events/venues.create/">
						<paper-button class="create_button" raised>Add Venue</paper-button>
					</a>
				</div>
				
			</div>
			## END CREATE BUTTON ##

		</div>
	</%block>
	## END PAGE TITLE ##

	## ROW ##
	<div class="row">
		
		## LEFT COLUMN ##
		<div class="col-md-6">

			## BATCH OPTIONS ##
			<h3>Batch Options</h3>
			
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropwdown" aria-expanded="true">
					Batch Options
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">Delete</li>
				</ul>
			</div>

			<paper-button class="success_button run_batch" raised>Submit</paper-button>

			## END BATCH OPTIONS ##

		</div>
		## END LEFT COLUMN ##

		## RIGHT COLUMN ##
		<div class="col-md-6">
			
			## FILTER OPTIONS ##
			<h3>Filter Options</h3>
			
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropwdown" aria-expanded="true">
					Filter Options
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">Delete</li>
				</ul>
			</div>

			<paper-input-decorator class="short" floatingLabel label="Criteria">
				<input is="core-input"></input>
			</paper-input-decorator>

			<paper-button class="success_button apply_filter" raised>Submit</paper-button>
			## END FILTER OPTIONS ##

		</div>
		## END RIGHT COLUMN ##

	</div>
	## END ROW ##

	## SEPARATOR ##
	<hr>
	## END SEPARATOR ##

	## TABLE OF USERS ##
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>
					<paper-button raised class="">Select All</paper-button>
				</th>
				<th>
					Name
				</th>
				<th>
					Address
				</th>
				<th>
					City
				</th>
				<th>
					State
				</th>
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody>
			%for venue in venues:
				<tr>
					<td>
						<paper-checkbox></paper-checkbox>
					</td>
					<td>
						${ venue.name }
					</td>
					<td>
						${ venue.address.address1 } ${ venue.address.address2 }
					</td>
					<td>
						${ venue.address.city }
					</td>
					<td>
						${ venue.address.state }
					</td>
					<td>
						## <paper-button raised class="success_button">View</paper-button> ## This view functionality isn't needed now
						<a class="button" href="/events/venues.edit/${ venue.id }">
							<paper-button raised class="edit_button">Edit</paper-button>
						</a>
						<a class="button" href="/events/venues.delete/${ venue.id }">
							<paper-button raised class="delete_button">Delete</paper-button>
						</a>
					</td>
				</tr>
			%endfor
		</tbody>
	</table>	
	## END TABLE OF USERS ##

	## SPACER DIVS ##
	<div class="spacer"></div>
	<div class="spacer"></div>
	<div class="spacer"></div>
	## END SPACER DIVS ##

</%block>