<%doc>

	Author: John Turner
	Version: 1.0

	Last Updated: 1/23/15

	This file contains the main content for the index page for the homepage app. 
	This content will be loaded when the home page of the site is loaded. 
	
</%doc>

<%inherit file="/base_app/templates/base.htm" />

<%block name="full_width_content">

	<div class="full_width_image">
		<img src="${ STATIC_URL }homepage/media/colonial-shoes.jpg">
	</div>

	## WRAPPER ##
	<div class="wrapper">
		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

		## SPACER DIV ##
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		## END SPACER DIV ##

		## COLUMNS ##
		<div class="row">

			## LEFT COLUMN ##
			<div class="col-md-4">
				<div class="center">
					<i class="fa fa-university fa-3x"></i><br>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
				</div>
			</div>
			## END LEFT COLUMN ##

			## MIDDLE COLUMN ##
			<div class="col-md-4">
				<div class="center">
					<i class="fa fa-file-o fa-3x"></i><br>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
				</div>
			</div>
			## END MIDDLE COLUMN ##

			## RIGHT COLUMN ##
			<div class="col-md-4">
				<div class="center">
					<i class="fa fa-paper-plane-o fa-3x"></i><br>
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
				</div>
			</div>
			## END RIGHT COLUMN ##

		</div>
		## END COLUMNS ##

		</div>

	## END WRAPPER ##

</%block>