<%doc>
	Author: John Turner
	Version: 2.0
	Updated: 3/3/15

	This is the main login info, it's brought in through AJAX. 
	The form will pop in a modal.
</%doc>

<%inherit file="/base_app/templates/base_ajax.htm" />

<%block name="extra_links">

	<link href="${ STATIC_URL }homepage/styles/login.css" rel="stylesheet" type="text/css">

</%block>

<%block name="content">

	${ form.as_login() }

	## Div holding the "forgot password link"
	<div class="center">
		
		<a href="/homepage/login.reset_password/" id="forgot_pass">Forgot Password?</a>

	</div> 

	<div class="spacer"></div>

</%block>